@page
@model Leopardy.Pages.ViewModel
@{
    ViewData["Title"] = "Game View";
}

<div class="container-fluid">
    <div id="joinGame" class="text-center mt-5">
        <h1 class="mb-4">Enter game code</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="gameCodeInput" class="form-label">Game Code</label>
                            <input type="text" class="form-control form-control-lg" id="gameCodeInput" placeholder="Enter game code" maxlength="4">
                        </div>
                        <button id="joinGameBtn" class="btn btn-info btn-lg">Watch Game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="waitingScreen" class="text-center mt-5 d-none">
        <h2>Waiting for game to start...</h2>
        <p>Game ID: <h1 id="gameIdDisplay" class="display-1 text-primary" style="font-family: 'Courier New', monospace; font-weight: bold;"></h1></p>
        <p>Total players joined: <span id="playerCount">0</span></p>
    </div>

    <div id="gameView" class="d-none">
        <div class="row mb-3">
            <div class="col-md-12">
                <h2 class="text-center">Round <span id="currentRound">1</span></h2>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Players in Current Round</h5>
                    </div>
                    <div class="card-body">
                        <div id="playersInRound" class="list-group"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Waiting Players</h5>
                    </div>
                    <div class="card-body">
                        <div id="waitingPlayers" class="list-group"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="currentClueArea" class="d-none">
                    <div class="card bg-dark text-white mb-3">
                        <div class="card-body">
                            <h4 id="currentCategory" class="card-title"></h4>
                            <h5 id="currentValue" class="card-subtitle mb-3"></h5>
                            <p id="currentQuestion" class="card-text fs-4"></p>
                        </div>
                    </div>
                    <div id="buzzInsArea" class="mb-3">
                        <h5>Buzz-ins:</h5>
                        <div id="buzzInsList" class="list-group"></div>
                    </div>
                    <div id="answersArea" class="mb-3 d-none">
                        <h5>Answers:</h5>
                        <div id="answersList" class="list-group"></div>
                    </div>
                </div>
                <div id="playerChooserArea" class="d-none">
                    <div class="alert alert-info">
                        <h5 id="chooserPlayerName"></h5>
                        <p>This player should choose a clue</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="jeopardyBoard" class="table-responsive">
            <table class="table table-bordered text-center" style="background-color: #060CE9;">
                <thead>
                    <tr id="categoryRow"></tr>
                </thead>
                <tbody id="cluesBody"></tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/view.js"></script>

@section Scripts {
    <script>
        // SignalR will be loaded here
    </script>
}

